$white: #ffffff;
$titletext: #333333;
$colordescription: #a6a6a6;
$colorprice: #000000;
$colorbutton: #cbcbcb;
$colorconfirm: #32b72f;
$colortelaconfirm: #50d074;
$backgroundgrey: #e5e5e5;
$backgroundRed: #cf2b2b;
$background09: rgba(255, 255, 255, 0.9);

@mixin flxContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "../../components/Header/header", "../../components/Footer/footer",
  "../../components/FinishPage/finishPage",
  "../../components/ChoicesPage/choicesPage";
