:root {
  --color-white: #ffffff;
  --color-text: #333333;
  --color-p: #a6a6a6;
  --color-price: #000000;
  --color-button: #cbcbcb;
  --color-green: #32b72f;

  --font-tittle: 400 2.75rem "Righteous", cursive;
  --font-text: 400 1.125rem "Roboto", sans-serif;
  --font-name: 700 1rem "Roboto", sans-serif;
  --font-description: 300 0.9375rem "Roboto", sans-serif;
  --font-divider: 400 1.625rem "Righteous", cursive;
  --font-button: 400 1.25rem "Roboto", sans-serif;
}

@import "../components/Header/header", "../components/Footer/footer",
  "../components/FinishPage/finishPage", "../components/ChoicesPage/choicesPage";

main {
  background-color: #e5e5e5;
  padding: 6rem 0 6.75rem 1.2rem;
}

/* sections */

/* footer */

/* parte que irá aparecer quando atribuir a classe show */

.tela {
  height: 100%;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;
  top: 0;
  z-index: 4;
}

.tela .confirm {
  height: 33.33%;
  width: 85.3%;
  border-radius: 9px;
  padding: 1.31rem 1.6rem 0 1.6rem;

  font: var(--font-name);
  color: var(--color-white);

  background: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}

.tela .confirm .header {
  font-size: 1.375rem;
  font-weight: normal;

  text-align: center;
}

.button-1,
.button-2 {
  display: flex;
  justify-content: center;
}

.tela .confirm .ok {
  width: 79.66%;
  height: 3.25rem;
  margin-top: 1.5rem;
  border-radius: 100px;
  border: none;
  background: #ffffff;

  font: var(--font-name);
  font-size: 1.375rem;
  font-weight: normal;
  color: #50d074;
}

.tela .confirm .cancel {
  margin-top: 0.5rem;

  font: var(--font-name);
  color: var(--color-white);
  border: none;
  background-color: #50d074;
}

.tela {
  visibility: hidden;
}

/* parte que irá aparecer quando for clicada */
/* selecionando os itens */
section .select {
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 5px var(--color-green);
}

section .product {
  position: relative;
}

section .select ion-icon {
  visibility: visible;
  color: var(--color-green);

  position: absolute;
  bottom: 1rem;
  right: 0.8125rem;
}

/* modificacao do button para fechar pedido */
button.finish-request {
  background-color: var(--color-green);
}

button.finish-request .text-button {
  display: none;
}

button.finish-request .text-finish {
  visibility: visible;

  font: var(--font-name);
  font-size: 1.25rem;
  color: var(--color-white);
}

/* aparecimento da ultima tela */
.show {
  visibility: visible;
}
