.footer {
  width: 100%;
  height: 5.75rem;
  background-color: var(--color-white);

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;

  &__button {
    width: 87.93%;
    height: 66.3%;

    background-color: var(--color-button);
    border-radius: 50px;
    border: none;

    &__text {
      color: var(--color-white);
      font: var(--font-button);
    }

    &__finish {
      visibility: hidden;
    }
  }

  .finished {
    background-color: var(--color-green);

    .footer__button__text {
      display: none;
    }

    .footer__button__finish {
      visibility: visible;

      font: var(--font-name);
      font-size: 1.25rem;
      color: var(--color-white);
    }
  }
}
